body {
    background: #ffd;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

svg {
    display: block;
    width: auto;
    overflow: visible;
}

.node circle {
    stroke: #a88;
    fill: #daa;
}

.node circle.head {
    fill: #ada;
}

.node text {
    fill: #622;
    font-size: 8pt;
    text-anchor: middle;
}

.link {
    stroke: #a88;
    marker-end: url(#head);
}

.menu {
    background-color: lightgray;
    display: block;
    padding: 0.2em;
    width: 12em;
    float: left;
    height: 99%;
    overflow-y: auto;
    margin: 0;
}

.menu .item {
    padding: 0.2em;
}

.menu .item.selected {
    background-color: lightblue;
}

.links {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.links .link {
    border: solid 3px #a88;
    background-color: #daa;
    color: #622;
    padding: 0.5em;
    margin: 0.1em;
    margin-top: 1em;
}
